
form{
    display: flex;
}
form .git{
    height: 50px;
    margin-top: 20px;
    width: 50px;
}
form .logo{
    background-color: #00aeef;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
input{
    border: transparent;
    height: 50px;
    border-bottom: 2px solid #00395d;
    margin-top: 20px;
    background-color: #ffffff5e;

}

.container-fluid{
    height: 80vh;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
.one{
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.2);
    background-color: #00395d37;
    padding: 20px;

}
span{
    background: linear-gradient(#00aeef,#00395d);
    margin: 4px;
    border-radius: 50px;
    padding: 10px;
}
.one, .two{
    position: relative;
    color: white;
    text-align: center;
    margin: 10px;
}
.profile h4{
    background: linear-gradient(#00395d,#380138, #78595e);
}
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
.two h2{
    background: linear-gradient(#00395d,#00aeef,#00395d);
    width: 250px;
    height: 50px;
    border-radius: 50px; 
}
.repo{
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #00395d37;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.2);
    height: fit-content;
    padding: 10px;
    width: 90%;
}

.repo h4{
    color: #00aeef;
}

small p{
    background: linear-gradient(#00aeef,#00395d);
    text-align: center;
}
button{
    border-radius: 4px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background: linear-gradient(#00395d,#fff);
}
img{
    width: 90%;
    height: 200px;
    border-radius: 100%;
}
a{
    text-decoration: none;
}
